.cart-item:not(:last-child) {
    border-bottom: 1px solid beige;
}

.cart-item {
    padding: .23rem;
    display: grid;
    gap: .25rem;
}

.cart-item-quantity {
    display: grid;
    grip-template-columns: 1fr 1fr 1fr;
}

.cart-item-quantity span {
    display: flex;
    justify-content: center;
    align-items: center;
}